@import "tailwindcss";

input:-webkit-autofill {
    background-color: #1f2937 !important; 
    color: white !important; 
    -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important; 
    transition: background-color 5000s ease-in-out 0s; 
  }
  
  input:-webkit-autofill::first-line {
    color: white !important; 
  }
